

img{
    width: 35em;
}

.wrapper{
    margin-left: 0px;
}

.nose{
    position: absolute;
    top:0;
    left:0;
    z-index: 6;
}

.mayo{
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
}

.cl{
    position: absolute;
    top:0;
    left:0;
    z-index: 6;
}
